body{
    background-color: rgb(57, 55, 55);
    font-size: 18px;
}
p.ppnwa{
    color:cadetblue;
}
h1{
    color:whitesmoke
}
p{
    color: grey;
    font-size: 16px;
}
button.pp{
background-color: rgb(4, 4, 122);
border:3px solid white ;
border-radius: 12px;
padding: 20px;
color: white;
font-size: x-large;
font-weight: bolder;
margin: 10px;
width: 450px;

}